[user]
    name = root
    email = root
[push]
    default = matching
[core]
    autocrlf = input
    safecrlf = false
    excludesfile = ~/.gitignore
    ignorecase = true

[gui]
    maxfilesdisplayed = 500

# Decrease the disk usage of the repository redd.it/2r68gf
[core]
    compression = 9
[pack]
    window = 20
[gc]
    auto = 1000
    autopacklimit = 10
